@font-face {
  font-family: "iconfont"; /* Project id 999385 */
  src: url('iconfont.woff2?t=1620460432217') format('woff2'),
       url('iconfont.woff?t=1620460432217') format('woff'),
       url('iconfont.ttf?t=1620460432217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-permission2:before {
  content: "\e616";
}

.icon-cointype:before {
  content: "\e615";
}

.icon-sell:before {
  content: "\e671";
}

.icon-diamond:before {
  content: "\e674";
}

.icon-target:before {
  content: "\e675";
}

.icon-repair:before {
  content: "\e670";
}

.icon-construct:before {
  content: "\e672";
}

.icon-host:before {
  content: "\e673";
}

.icon-mining-mode:before {
  content: "\e66f";
}

.icon-gift-icon:before {
  content: "\e66e";
}

.icon-water-fire-e:before {
  content: "\e66d";
}

.icon-machine:before {
  content: "\e66b";
}

.icon-flash:before {
  content: "\e66a";
}

.icon-gps:before {
  content: "\e66c";
}

.icon-download-app:before {
  content: "\e669";
}

.icon-fire-e:before {
  content: "\e666";
}

.icon-water-e:before {
  content: "\e667";
}

.icon-location:before {
  content: "\e668";
}

.icon-stack:before {
  content: "\e664";
}

.icon-clock:before {
  content: "\e665";
}

.icon-miner:before {
  content: "\e663";
}

.icon-permission:before {
  content: "\e662";
}

.icon-loan:before {
  content: "\e661";
}

.icon-leverage:before {
  content: "\e65a";
}

.icon-current-user:before {
  content: "\e659";
}

.icon-link:before {
  content: "\e658";
}

.icon-more:before {
  content: "\e637";
}

.icon-menu-bar:before {
  content: "\e655";
}

.icon-close-round:before {
  content: "\e653";
}

.icon-open-round:before {
  content: "\e654";
}

.icon-edit:before {
  content: "\e652";
}

.icon-error:before {
  content: "\e650";
}

.icon-product:before {
  content: "\e635";
}

.icon-share-facebook-new:before {
  content: "\e676";
}

.icon-share-email:before {
  content: "\e64a";
}

.icon-filter:before {
  content: "\e614";
}

.icon-hidden:before {
  content: "\e611";
}

.icon-shown:before {
  content: "\e612";
}

.icon-logo-w:before {
  content: "\e633";
}

.icon-down-arrow:before {
  content: "\e631";
}

.icon-up-arrow:before {
  content: "\e632";
}

.icon-menu:before {
  content: "\e651";
}

.icon-share-qzone:before {
  content: "\e610";
}

.icon-share-linkedin:before {
  content: "\e60f";
}

.icon-share-vk:before {
  content: "\e6c5";
}

.icon-share-reddit:before {
  content: "\e77a";
}

.icon-warning2:before {
  content: "\e630";
}

.icon-info2:before {
  content: "\e62f";
}

.icon-tuoguan:before {
  content: "\ec8e";
}

.icon-copy:before {
  content: "\e64e";
}

.icon-qrcode:before {
  content: "\e64f";
}

.icon-calculator:before {
  content: "\e62e";
}

.icon-share-account:before {
  content: "\e64d";
}

.icon-remark:before {
  content: "\e64c";
}

.icon-check-box:before {
  content: "\e64b";
}

.icon-lock:before {
  content: "\e62d";
}

.icon-payment-id:before {
  content: "\e62b";
}

.icon-invitation-code:before {
  content: "\e62c";
}

.icon-announcement:before {
  content: "\e649";
}

.icon-v-ga:before {
  content: "\e63d";
}

.icon-v-sms:before {
  content: "\e63e";
}

.icon-v-email:before {
  content: "\e640";
}

.icon-mobile:before {
  content: "\e641";
}

.icon-password:before {
  content: "\e642";
}

.icon-mobile-or-email:before {
  content: "\e643";
}

.icon-username:before {
  content: "\e644";
}

.icon-email:before {
  content: "\e645";
}

.icon-v-password:before {
  content: "\e646";
}

.icon-new-password:before {
  content: "\e647";
}

.icon-hashrate:before {
  content: "\e648";
}

.icon-amount:before {
  content: "\e629";
}

.icon-withdraw:before {
  content: "\e62a";
}

.icon-number1:before {
  content: "\e624";
}

.icon-number4:before {
  content: "\e626";
}

.icon-number2:before {
  content: "\e627";
}

.icon-number3:before {
  content: "\e628";
}

.icon-done:before {
  content: "\e623";
}

.icon-share-qq:before {
  content: "\e621";
}

.icon-warning:before {
  content: "\e620";
}

.icon-security:before {
  content: "\e63c";
}

.icon-success:before {
  content: "\e61f";
}

.icon-dynamic:before {
  content: "\e613";
}

.icon-move:before {
  content: "\e792";
}

.icon-share-wechat:before {
  content: "\e600";
}

.icon-share-telegram:before {
  content: "\e618";
}

.icon-share-facebook:before {
  content: "\e60e";
}

.icon-share-twitter:before {
  content: "\e619";
}

.icon-share-weibo:before {
  content: "\e831";
}

.icon-share:before {
  content: "\e63b";
}

.icon-sound:before {
  content: "\e7da";
}

.icon-angle-right:before {
  content: "\e7eb";
}

.icon-angle-left:before {
  content: "\e7ec";
}

.icon-angle-up:before {
  content: "\e7ed";
}

.icon-angle-down:before {
  content: "\e7ee";
}

.icon-down:before {
  content: "\e634";
}

.icon-up:before {
  content: "\e63f";
}

.icon-areachart:before {
  content: "\e7af";
}

.icon-delete:before {
  content: "\e699";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-question1:before {
  content: "\e7fe";
}

.icon-gift1:before {
  content: "\e842";
}

.icon-stop:before {
  content: "\e843";
}

.icon-fire:before {
  content: "\e844";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-weixian:before {
  content: "\e617";
}

.icon-question:before {
  content: "\e602";
}

.icon-guding:before {
  content: "\e625";
}

.icon-ios:before {
  content: "\e72c";
}

.icon-android:before {
  content: "\e81a";
}

.icon-weixin:before {
  content: "\e60d";
}

.icon-twitter:before {
  content: "\e702";
}

.icon-facebook:before {
  content: "\e703";
}

.icon-weibo:before {
  content: "\e60c";
}

.icon-logout:before {
  content: "\e601";
}

.icon-list:before {
  content: "\e603";
}

.icon-profile:before {
  content: "\e604";
}

.icon-account:before {
  content: "\e605";
}

.icon-info:before {
  content: "\e606";
}

.icon-config:before {
  content: "\e607";
}

.icon-gift:before {
  content: "\e608";
}

.icon-next:before {
  content: "\e609";
}

.icon-previous:before {
  content: "\e60a";
}

.icon-up-arrow-angle:before {
  content: "\e60b";
}

.icon-gift-full:before {
  content: "\e622";
}

