.c-box {
  @apply rounded-4;
  @apply bg-white;
}

.c-content {
  @apply w-1200;
  @apply max-w-full;
  @apply h-full;
  @apply mx-auto;
  @apply text-blue-200;
}

.c-line {
  width: 100%;
  height: 1px;
  background: #f4f4f9;
}
